
@font-face {
    font-family: AIMyouChouRegular;
    src: url(./Assets/A-OTF-A1MingChaoStd-Bold-2.otf) format("opentype");
}
article{
    font-family: "AIMyouChouRegular";
    text-align: center;
    writing-mode: tb-rl;
    float: right;
    font-size: 600%;
    line-height: 300%;
}