
@font-face {
    font-family: AIMyouChouRegular;
    src: url(./Assets/A-OTF-A1MingChaoStd-Bold-2.otf) format("opentype");
}
@font-face {
    font-family: MSGothicRegular;
    src: url(./Assets/MS\ Gothic.ttc);
}
html,body{height: 100%;}
article{
    font-family: "AIMyouChouRegular";
    text-align: center;
    writing-mode: tb-rl;
    float: right;
    font-size: 600%;
    line-height: 200%;
}
#holder{
    position: relative;
}
#content{
    position: absolute;
    width: max-content;
    height: max-content;
    z-index: 2;
}
#Emphasis{
    font-family: "MSGothicRegular";
    background-color: black;
    color: white;
}
#background{
    position: absolute;
    width: 100vh;
    height: 100vh;
    z-index: 1;
}